/*
	project: snewscms.com
	author:  luka cvrk
----------------------------------------------- */

* { margin:0; padding:0; }

body { color: #272727; background: #fff; font: .8em Verdana,Sans-Serif; }
a {	color: #1C94C4;	background: inherit; text-decoration: none; }
a:hover { color: #808080;  background: inherit; }
h1, h2, h3 { font-weight: bold; margin: 0 0 .8em 0; }
h1, h2 { color: #ff0000; font-size: 2em; background: inherit; }
h3 { font-size: 1.3em; margin: 1.2em 0 .5em 0; }


abbr, acronym {border-bottom: 1px dotted red; cursor: help;}
code, pre { font-family: courier; font-size:.8em }
#left .numlist li{list-style: decimal inside;}

.gotop { clear: both; float: right; border: 1px solid #ccc; padding: 2px 7px; }

.breadcrumbs { border-bottom: 1px solid #f4f4f4; padding: 0 0 5px 0; font-size: .7em; }

#logo { float: right; vertical-align: top;  top: 10px; right: 10px; position: absolute;}

#menu { clear: left; list-style: none; text-align: center; width: 100%; }
#menu li { 
	float: left;
	padding-bottom: 4px;
	width: 70px; 
	display: inline; 
	position: relative;
	margin: 0 auto;
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
}

#menu li a { text-align: center; width: 60px; margin: 0 0 0 0px; color: #3c3c3c; background: inherit;}
#menu li a:hover 
{ 
	color: #808080; 
	background: inherit; 
	opacity: .8;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


.key { border-bottom: 1px dotted #ccc; }

#top 
{ 
	float: left;
	padding-left: 5px;
	padding-bottom: 15px;
}

.wrap { clear: both; width: 95%; margin: 0 auto; }
.clear { clear: both; }

#header {
	margin: 25px auto 0 auto;
	padding: 0 0 90px 0;
	background: #fff url(images/bg.png) repeat-x bottom left;
	color: #808080;
}

img { border: 0; }


#left h2 {
	font-size: 1.6em;
	margin-bottom: 1em;
	padding: .5em 0; 
}

#left {
	width: 80%;
	float: left;
	margin-bottom: 2%;
	padding-top: 2%;
}


.shift-r { margin-left: 1em; list-style-type: square; line-height: 125%; }

.guidepanel { width: 100%; padding: 15px; margin-top: 5px; border: 1px solid #C0C0C0; background: #f6f0e8; color: #444; }
.code { border-left: 1px solid #ccc; background: #f4f4f4 url(images/code.gif) no-repeat bottom right; color: #444; padding: 3% 2%; font-family: courier; }

#left li, #right li { line-height: 1.8em; list-style: none; }


#right {
	width: 15%;
	float: right;
	background: #f4f4f4;
	color: #444;
	padding: 15px;
	margin: 10px 0 20px 0;
	border: 1px solid #eee;
}

#right h3 { font-size: 1.2em; margin-top: 0; }


#download {
	float: right;
	text-align: right;
	width: 28%;
	margin-top: 4%;
}

#sections {
	clear: both;
	padding: 20px 0;
	border-top: 1px solid #eee;
}

.half  { 
	float: left; 
	width: 48%; 
	margin: 0% 2% 3% 0%;
}


	.half h3 a{ font-size: .7em;  background: #3c3c3c; color: #fff; display: inline; padding: 3px 5px; clear: both; margin: 0 0 20px 0; }	
	.half h3 a:hover { background: #ff0000; color: #fff; }
	.half p { margin: 10px 0 0 0; }
	
	
.last { margin: 0; }
#footer {
	background: #fff url(images/bigline.png) no-repeat top center;
	color: #444;
	padding: 35px 0 10px;
	font-size:  0.9em;
}

/* SNEWS */

.comment { background: #eee; color: #808080; padding: 10px; margin: 0 0 10px 0; border-top: 1px solid #ccc; }
.commentsbox { background: #eee; color: #808080; padding: 10px; margin: 0 0 10px 0; border-top: 1px solid #ccc; }

tr.odd {
      background-color: inherit;
}

tr.even{
      background-color: #f1d683;
}


.pager {
	background: #cbcbcb;
	color: #EA0e14;
}
 
label { float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }

a.prev:hover, a.next:hover {
	color: green;
}
.middle>a:hover {
	color: green;
	}
.middle {
	color: green;	
}
a.prev,a.prev:hover {
	background: url(images/prev.png) no-repeat center left;
	height: 34px;
	padding-left: 34px;
	padding-top: 17px;
	padding-bottom: 17px;
}

a.next,a.next:hover {
	background: url(images/next.png) no-repeat center right;
	height: 34px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 34px;
}

.red, .red:hover
{
	background-color: #f8c2bd;
}

.green, .green:hover
{
	background-color: #ceffa6;
}

.yellow, .yellow:hover
{
	background-color: #fffdbb;
}

.login {
	border:1px solid black;
}

.buttonSubmit:focus, .buttonSubmit {
	background:url(images/save.png) no-repeat;
	cursor:pointer;
	width: 34px;
	height: 34px;
	border: none;
}

.buttonReset, .buttonReset:focus {
	background:url(images/reset.png) no-repeat;
	cursor:pointer;
	width: 34px;
	height: 34px;
	border: none;
}

img.ICON {
	clear: both;
	width: 28px;
	height: 28px;
	text-align: center;
	vertical-align: middle;
	border: 0;
}

#menu>li.active 
{
	color: black;
	border-bottom: 1px solid black;
}
	
.menuicon {
	clear: both;
	width: 40px;
	align: center;
}


.small {
	font-size: 10px;
}

.actionmenu { color: #1C94C4;}

#available {
	width: 200px;
}

.blackie {
}
.livesearch {margin: 0px 0 0 0px;  }
.livesearch li {list-style: none; background: #fff; border: 1px solid #eee; padding: 2px;}
.livesearch li.selected {background: #ffb; }

.fg-button { padding: 0.4em; }
fieldset { padding: 0.4em; }
fieldset>legend { padding: 0.2em; }

/*
 * Table alignment for common listing purposes
 */
#usortable>tbody>tr:hover { background: orange; }
#usortable>thead th { text-align: left; }
#usortable>thead .adminactions { text-align: center; }
.foldable { display: none; font-size: 0.8em; }

#selection-image	{ background:url(images/selection-bubble.png) 0 0 no-repeat; width:25px; height:29px; position:absolute; top:-50px; left:-50px; }


td.received_ts {
	white-space : nowrap;
	padding-right: 0.4em;
}
td.program {
	white-space : nowrap;
	padding-right: 0.4em;
}